* {
  text-align: center;
  color: white;
  font-family: "Courier New", Courier, monospace;
}
body {
  margin: 20px 120px;
}

p {
  margin: 0;
}

.grid-container {
  width: 500px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
}

.grid {
  box-sizing: border-box;
  border: 0.5px solid rgb(0, 0, 0);
}
.button-area {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
}

#grid-size {
  margin: 0;
  /* border: 1px solid black; */
}

#color {
  width: 25px;
  padding: 0;
  border: 0;
  text-align: center;
}
.color-area {
  display: flex;
  gap: 5px;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: #ffffff;
  height: 35px;
  border-radius: 5px;
  width: 75px;
  justify-content: center;
  align-items: center;
}

label,
button {
  line-height: 27px;
  color: black;
  background-color: #ffffff;
  padding-right: 5px;
  border-radius: 5px;
}

.wrapper {
  border-radius: 25px;
  background-color: rgb(255, 84, 68);
  padding: 20 0;
  height: 100%;
  padding: 20px 30px 20px 30px;
}

button {
  border: 1px solid black;
  height: 35px;
}

.selected {
  background-color: rgb(101, 185, 245);
}
